# MongoDB Atlas Connection String
MONGODB_URI=

# Cloudinary Configuration
# You can use CLOUDINARY_URL or the individual variables below
CLOUDINARY_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Email Configuration (Optional, for Forgot Password)
# If not provided, it will use Ethereal (test emails)
EMAIL_USER=
EMAIL_PASS=
